@model MyPagePrototype.Models.Bruker

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li href="/">Min side</li>&nbsp; / &nbsp;
                    <li class="breadcrumb-item active" aria-current="page">Profil</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Min profil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <section>
                <div>
                    <div>
                        <table class="table table-borderless krs-table-1">
                            <tbody>
                                <tr>
                                    <td class="data-label">E-post</td>
                                    <td class="data-value ellipse">
                                    @Html.DisplayFor(model => model.Epost)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data-label">Mobil</td>
                                    <td class="data-value">
                                        <a href="tel:@Html.DisplayFor(model => model.Telefonnummer)">@Html.DisplayFor(model => model.Telefonnummer)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data-label">Reservasjon mot kommunikasjon på nett?</td>
                                    <td class="data-value">Nei</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            Disse opplysningene er hentet fra <a href="https://brukerprofil.difi.no/minprofil" target="_new">
                                din profil
                            </a> i Kontakt- og reservasjonsregisteret (KRR).
                        </p>
                        <p>Kontakt- og reservasjonsregisteret er et register over innbyggerne sin digitale kontaktinformasjon og reservasjon. Det er en fellesløsning som alle offentlege virksomheter skal bruke når de utvikler tjenester.</p>
                        <p>Vi lagrer fødselsnummeret ditt og aktiviteten din på Min Side. Dersom du ønsker at denne informasjonen blir slettet, kan du trekke tilbake samtykket ditt her.</p>
                    </div>
                    <div>
                        <button id="reservation-button" type="button" class="btn btn-outline-danger">Trekk tilbake samtykke</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

