@model IEnumerable<MyPagePrototype.Models.Byggesaker>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/MineByggesaker.css")" rel="stylesheet" type="text/css" />
}
<br />

<div class="content-container-60">
    <div class="holder">
        <div class="out-loc">
            Innboks /
            <div class="in-loc">
                Byggesaker
            </div>
        </div>
    </div>
    <br /> <br />

    <h2 class="mi-bygg">Mine byggesaker</h2>
    <p>Her vil du se en oversikt over din(e) byggesaker.</p>
    <div>
        <form action="/MineByggesaker/RegistrerSak" method="get">
            <button class="bygg-btn" name="subject" type="submit">Registrer din byggesak</button>
        </form>
    </div>
<br />
<br />

    <button class="sakboks-box-btn" onclick="window.location.href='/MineByggesaker/OppIB'">
        <div class="sakboks-box">
            <div class="sakboks-txt">
                Uregistrert revet bygg.
            </div>
            <div class="sakboks-arrow">
            </div>
            <div class="saksboks-status-ib">
                Ubehandlet
            </div>
            <div class="saksboks-dato">
                22.10.2022
            </div>
        </div>
    </button>
    <br />

    <button class="sakboks-box-btn" onclick="window.location.href='/Minebyggesaker/OppUB'">
        <div class="sakboks-box">
            <div class="sakboks-txt">
                Uregistrert revet bygg.
                <div class="sakboks-arrow">
                </div>
                <div class="saksboks-status-ub">
                    Under behandling
                </div>
            </div>
            <div class="saksboks-dato">
                22.10.2022
            </div>
        </div>
    </button>
    <br />

    <button class="sakboks-box-btn" onclick="window.location.href='/MineByggesaker/OppFB'">
        <div class="sakboks-box">
            <div class="sakboks-txt">
                Uregistrert revet bygg.
                <div class="sakboks-arrow">
                </div>
                <div class="saksboks-status-fb">
                    Ferdig behandlet
                </div>
            </div>
            <div class="saksboks-dato">
                22.10.2022
            </div>
        </div>
    </button>
</div>
<br />

