@model IEnumerable<MyPagePrototype.Models.Byggesaker>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrer ny", "RegistrerSak")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item;
            </td>
        </tr>
    }

</table>
