@model MyPagePrototype.Models.Kvittering

@{
    ViewBag.Title = "Kvittering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
<div class="content-container-60">
    <h2>Kvittering</h2>
    <!-- Her må vi sette av id, eeeeelller lage ny mappe som heter kvittering, eeeeller legge kvitt kontroller inn i byggesaker
<div>
    <h4>Kvittering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Html.DisplayNameFor(model => model.kvitteringsNr)
        </dt>

        <dd>
            Html.DisplayFor(model => model.kvitteringsNr)
        </dd>

        <dt>
            Html.DisplayNameFor(model => model.dato)
        </dt>

        <dd>
            Html.DisplayFor(model => model.dato)
        </dd>
        <!--
                    <dt>
                        Html.DisplayNameFor(model => model.personNavn)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.personNavn)
                    </dd>

                    <dt>
                        Html.DisplayNameFor(model => model.telefonnummer)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.telefonnummer)
                    </dd>

                    <dt>
                        Html.DisplayNameFor(model => model.epost)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.epost)
                    </dd>

                    <dt>
                        Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        Html.DisplayNameFor(model => model.tema)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.tema)
                    </dd>
        
        <dt>
            Html.DisplayNameFor(model => model.kommentar)
        </dt>

        <dd>
            Html.DisplayFor(model => model.kommentar)
        </dd>

    </dl>
</div>
<p>
    Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    Html.ActionLink("Back to List", "Index")
</p>
</div>
-->