
@{
    ViewBag.Title = "Oppsummering";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @section Styles {
        <link href="@Url.Content("~/Content/Oppsummering.css")" rel="stylesheet" type="text/css" />
    }

}

<br />
<div class="content-container-60-opp">
    <h2>Din innsending er vellykket!</h2>
    <br />
    <h5>Din innsending vil bli behandlet så fort som mulig</h5>
    <!--Håndterer status-->
    @if (ViewBag.Status == "ib")
    {
        @:<div class="saksboks-status-ib-opp"> Ubehandlet </div>
    }
   
    @if ((ViewBag.Status == "ub"))
    {@:<div class="saksboks-status-ub-opp"> Under behandling </div>
    }

    @if ((ViewBag.Status == "fb"))
    {
        @:<div class="saksboks-status-fb-opp"> Ferdig behandlet </div>
    }


    <br /><br /><br /><br />

    <image class="kvitt-img-opp" src="~/Resources/kvittering-img.png"></image>

</div>

