@model MyPagePrototype.Models.Byggesak
@{
    ViewBag.Title = "RegistrerSak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/Registrersak.css")" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-container-60">
        <br />
        <h3>Registrer din byggesak</h3>
        <p>Vennligst skriv inn riktige detaljer og trykk bekreft</p>
        <hr />

        <div class="form-group">
            <label>Velg tema</label>
            <br />
            <select class="drop-field" name="ByggesakTema" id="ByggesakTema">
                <option value="Byggesak">Byggesak</option>
                <option value="Placeholder">Placeholder</option>
            </select>
        </div>
        <br />

        <div class="form-group">
            <label>Type bygg</label> <br />
            <select class="drop-field" name="TypeBygg" id="TypeBygg">
                <option>Uregistrert bygg</option>
                <option>Revet bygg</option>
                <option>Tilbygg</option>
            </select>
        </div>
        <br />

        <div class="form-group">
            <label>Bygningsnummer</label>
            <input class="input-field" type="number" id="ByggningsNummer" name="ByggningsNummer" required>
        </div>
        <br />

        <div class="form-group">
            <label>Status</label>
            <input class="input-field" type="text" id="ByggesakStatus" name="ByggesakStatus" value="Ubehandlet" required>
        </div>
        <br />

        <div class="form-group">
            <label>Næringsgruppe</label>
            <select class="drop-field" name="NæringsGruppe" id="NæringsGruppe">
                <option value="Bolig">Bolig</option>
                <option value="Næringsbygg">Næringsbygg</option>
            </select>
        </div>
        <br />

        <div class="form-group-bunn">
            <label class="l-areal">Nytt areal (m²)</label> <label>Ny høyde (m²)</label> <br />
            <input class="i-areal" type="number" name="NyttAreal" id="NyttAreal" required>

            <input class="ny-høyde" type="number" name="NyHøyde" id="NyHøyde" required>
        </div>
        <br />
        <br />

        <div class="form-group">
            <div>
                <input type="submit" value="Registrer" class="btn-bekreft" />
            </div>
        </div>
    </div>
}

