
@{
    ViewBag.Title = "Logget ut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center><h2> Du er nå logget ut </h2></center>
<center>@Html.ActionLink("Logg inn", "LoggInn", "Hjem")</center>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
