@model IEnumerable<MyPagePrototype.Models.Innboks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!-- Denne må fikses for å få den til å virke-->
            @Html.ActionLink("Detaljer", "Detaljer", new { /* id=item.PrimaryKey */ }) 
            
        </td>
    </tr>
}

</table>
