@model IEnumerable<MyPagePrototype.Models.Innboks>

@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InnboksID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InnboksID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InnboksID })
        </td>
    </tr>
}

</table>
