
@{
    ViewBag.Title = "Placeholder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Home/Index">Tilbake</a>

<h2>Denne siden er ikke satt opp for denne prototypen</h2>
<p>Vennligst gå tilbake til forsiden</p>


